/* mise en forme sur le body */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", 
  "Segoe UI Emoji", "Segoe UI Symbol";
  background-image: url(image/pattes.jpg);
}

/* mise en forme sur le header*/
header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  background-color: lightgrey;
  border: 2px solid darkgrey;
}

.logo {
  float: left;
}

.titre_logo {
  display: flex;
  padding: 10px;
}
.titre {
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) and (orientation: landscape), (orientation: portrait) {
  header {
    height: 50px;
  }
}

@media screen and (max-width: 1000px) and (orientation: landscape), (orientation: portrait) {
  .titre_logo {
    display: none;
  }
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header nav ul > li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 130px;
  align-items: center;
  font-size: 14px;
}

@media screen and (max-width: 700px) and (orientation: landscape), (orientation: portrait) {
  header nav ul li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 9px;
    width: 70px;
  }
}


li > a {
  color:#8B0000;
}
li > a:hover {
  color: coral;
}


.img_welcome > img {
  border-radius: 100px;
  width: 800px;
  height: 650px;
}

/*mise en forme contenu principal*/
article {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10;
}

h3 {
  width: 25vw;
  text-align: center;
}

.cookie,
.kalya,
.joey,
.luna,
.poupette,
.bounty {
  width: 25vw;
  padding: 5px;
  justify-content: space-around;
  border: 6px double grey;
  align-items: center;
}

@media screen and (max-width: 700px) and (orientation: landscape), (orientation: portrait) {
  .cookie,
  .kalya,
  .joey,
  .luna,
  .poupette,
  .bounty {
    border-radius:100px;
    border: 0;
  }
}

@media screen and (max-width: 576px) and (orientation: landscape), (orientation: portrait) {
  article {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

@media screen and (max-width: 576px) and (orientation: landscape), (orientation: portrait) {
  section {
    padding: 0;
    width: auto;
    justify-content: center;
    align-items: flex-start;
  }
}

@media screen and (max-width: 576px) and (orientation: landscape), (orientation: portrait) {
  section p {
    font-size: 8px;
    font-style: italic;
  }
}


section p {
  font-size: 14px;
  width: 25vw;
  padding: 10px;
  border: 2px dashed lightgrey;
  text-align: justify;
}

section {
  padding: 20px;
}

.rq {
  font-weight: 500;
  text-align: center;
  border: 2px solid black;
}

p > a {
  color: #8B0000;
}

p > a:hover {
  color: coral;
}


/*mise en forme sur le footer*/
footer {
  width: 100%;
  background-color: lightgrey;
  border: 2px solid darkgrey;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.watermark {
  text-align: center;
}

@media screen and (max-width: 700px) and (orientation: landscape), (orientation: portrait) {
  footer {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) and (orientation: landscape), (orientation: portrait) {
  footer ul li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 9px;
    width: 50px;
  }
}

@media screen and (max-width: 1000px) and (orientation: landscape), (orientation: portrait) {
  .watermark {
    font-size: 10px;
  }
}

/*mise en forme sur le logo haut de page*/
.fleche {
  width: 7.5%;
  border: 2px dashed black;
}

@media screen and (max-width: 1000px) and (orientation: landscape), (orientation: portrait) {
  .fleche {
    display: none;
  }
}