/* mise en forme sur le body */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", 
  "Segoe UI Emoji", "Segoe UI Symbol";
  background-image: url(image/pattes.jpg);
}

/* mise en forme sur le header*/
header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  background-color: lightgrey;
  border: 2px solid darkgrey;
}

.logo {
  float: left;
}

.titre_logo {
  display: flex;
  padding: 10px;
}
.titre {
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) and (orientation: landscape), (orientation: portrait) {
  header {
    height: 50px;
  }
}

@media screen and (max-width: 1000px) and (orientation: landscape), (orientation: portrait) {
  .titre_logo {
    display: none;
  }
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header nav ul > li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 130px;
  align-items: center;
  font-size: 14px;
}

@media screen and (max-width: 700px) and (orientation: landscape), (orientation: portrait) {
  header nav ul li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 9px;
    width: 70px;
  }
}


li > a {
  color:#8B0000;
}
li > a:hover {
  color: coral;
}


.img_welcome > img {
  border-radius: 100px;
  width: 800px;
  height: 650px;
}

/*mise en forme du contenu principal*/
h3 {
  text-align: center;
  border-bottom: 2px solid black;
}

.presentation, 
.description {
  display: flex;
  padding: 10px;
}

.presentation p,
.description p {
  padding: 20px;
  text-align: justify;
}

@media screen and (max-width: 1100px) and (orientation: landscape), (orientation: portrait) {
  img {
    display: none;
  }

}


/*mise en forme sur le footer*/
footer {
  width: 100%;
  background-color: lightgrey;
  border: 2px solid darkgrey;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.watermark {
  text-align: center;
}

@media screen and (max-width: 700px) and (orientation: landscape), (orientation: portrait) {
  footer {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) and (orientation: landscape), (orientation: portrait) {
  footer ul li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 9px;
    width: 50px;
  }
}

@media screen and (max-width: 1000px) and (orientation: landscape), (orientation: portrait) {
  .watermark {
    font-size: 10px;
  }
}

/*mise en forme sur le logo haut de page*/
.fleche {
  width: 7.5%;
  border: 2px dashed black;
}

@media screen and (max-width: 1000px) and (orientation: landscape), (orientation: portrait) {
  .fleche {
    display: none;
  }
}